/* Reset and Fonts */

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* =================
Navbar
================= */

.site-title img {
    width: 18em;
}

.container-nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background: #162d54;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 1.5em;
}

nav a,
.columns a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
    padding: .4em 0;
}

nav a:hover,
nav a:focus,
.columns a:hover,
.columns a:focus {
    color: #553E16;
}

nav a:hover,
nav a:focus{
    border-bottom: 1px solid #553E16;
}

/* =================
Layout
================= */

.container{
    width: 75%;
    margin: 0 auto;
}


/* =================
Video
================= */

.video {
    position: relative;
}

.video video {
    height: 91vh;
    width: 100%;
    object-fit: cover;
    background-position: absolute;
    z-index: 10;
}

.video .video-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
    top: 0;
}

.video .video-content h1{
    color: #fff;
    font-weight: 600;
    font-size: 2.3rem;
}

span {
    color: #162d54;
    border-bottom: 1.5px solid #162d54;
}

/* =================
Section ONE
================= */

.section-one{
    text-align: center;
    position: relative;
}

.section-one img{
    height: 20em;
    width: 100%;
}

.section-one-content {
    position: absolute;
    top: 20%;
}

.section-one-content h2{
    font-size: 1.8rem;
}

.section-one-content p{
    width: 75%;
    margin: 0 auto;
}

/* =================
Section two, three, four, five
================= */

.bg-cl-drk{
    background-color: #162D54;
    color: whitesmoke;
}

.bg-cl-lght{
    background-color: whitesmoke;
    color: #162D54;
}

.sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sections img{
    width: 35em;
}

.section-content{
    width: 40%;
    text-align: center;
    line-height: 1.8rem;
    margin: 2em 0;
}

.section-content h2{
    color: #553E16;
    font-size: 1.6rem;    
    margin-bottom: 1.3em;
    /* padding-bottom: 0.1em; */
    border-bottom: 1.5px solid #553E16;
    font-weight: 600;
}

.section-content p{
    font-size: 1.2rem;
    font-weight: 400;
}

/* =================
Footer
================= */

/* Layout */

footer{
    background-color: #162D54;
    color: whitesmoke;
}

.footer-container{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.footer-container p{
    padding-top: 2em;
    font-size: 1.2rem;
    margin: 0;
}

form input[type='email']{
    width: 25%;
    height: 2em;
    margin: 2em;
    outline: none;
    border: none;
    border-radius: 7px;
}

form input[type='email']:focus {
    border: 3px solid #553E16;
}

form button {
    padding: 0.3em 0.7em;
    background: whitesmoke;
    border: none;
    cursor: pointer;
}

.columns{
    display: flex;
    justify-content: space-evenly;
    border-top: 1.5px solid #553E16;
}

.col-one,
.col-two{
    display: flex;
    flex-direction: column;
}

.footer-icons{
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0;
}

.footer-icons a{
    text-decoration: none;
    color: whitesmoke;
}